body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #87CEEB, #B0E0E6);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 3em;
  color: #333;
}

h2 {
  font-size: 2em;
  color: #333;
}

.section {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

input {
  padding: 10px;
  font-size: 1em;
  width: 80%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 15px 20px;
  font-size: 1.2em;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
